body {
  margin: 0px;
  padding: 0px;

  font-family: "Arial", sans-serif;
  background-color: rgba(31, 45, 245, 0.63);
}
#root {
  margin: 0px;
  padding: 0px;
}
.unread {
  color: #ffffff !important;
  font-weight: 700;
}
.primary-text {
  color: #f0f0f0;
}
.secondary-text {
  color: rgb(185, 185, 185);
}
.chat_page_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0px;
  width: 100%;
  height: 100%;
}
.chat_page_chat-list {
  display: flex;
  flex-direction: column;
  padding: 0px;
  width: 25%;
  height: 100%;
  border-right: solid 3px #0000003f;
  overflow-y: scroll;
  scrollbar-color: rgba(0, 0, 0, 0.507) rgba(255, 255, 255, 0);
  scrollbar-width: thin;
}
.chat_page_chat-window-container {
  width: 75%;
  height: 100%;
}
.chat_page_chat-window {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.chat_item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  width: 100%;
  height: 5rem;
}
.chat-item-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: calc(100% - 4rem);
  height: 100%;
  padding-right: 0.5rem;
}

.chat_item:hover {
  background-color: #0000003f;
}
.chat-item-img {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
  background-color: #f0f0f0;
  border-radius: 50%;
}
.chat-item-row1 {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .chat-item-row1-name {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
    height: 1.4rem;
    overflow: hidden;
  }
  .chat-item-row1-time {
    font-size: 0.8rem;
  }
}
.chat-item-row2 {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  font-size: 0.8rem;

  .chat_item_texts_preview-message {
    width: 80%;
    overflow: hidden;
    text-overflow: hidden;
    white-space: nowrap;
  }
}

.open_chat-window {
  height: 38.5rem;
}
.open_chat_header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 5rem;
  color: #f0f0f0;
  background-color: rgba(0, 0, 0, 0.349);
  .chat_item_img {
    margin-top: 0;
  }
}
.open_chat_body {
  display: flex;
  flex-direction: column;
  min-height: 0;
  flex-grow: 1;
}
.open_chat_body_messages-container {
  display: flex;
  flex-direction: row-reverse;
  flex: 1;
  overflow-y: auto;
  min-height: 0;

  flex-direction: column;

  background-color: #f0f0f06e;
  padding-top: 0.5rem;
  .open_chat_body_message-row {
    display: grid;
    flex-direction: row;
    width: 100%;
    .open_chat_body_received-message {
      position: relative; /* necessário para o posicionamento absoluto interno */
      display: flex;
      flex-direction: column;
      /*padding: 10px 20px 20px 10px;*/
      justify-self: flex-start;
      margin: 0px 5px 5px 5px;
      width: fit-content;
      min-height: 35px;
      min-width: 10rem;
      max-width: 60%;
      background-color: rgba(0, 0, 0, 0.705);
      border-radius: 0px 8px 8px 8px;
      border: solid 1px #0000003f;
      height: fit-content;
      color: #f0f0f0;
      padding-right: 0.5rem;
    }
    .open_chat_body_received-message-text {
      width: 100%;
      margin: 10px 5px 5px 10px;
      overflow-wrap: break-word;
      white-space: pre-wrap;
    }
    .open_chat_body_received-message-time {
      align-self: flex-end;
      font-size: 0.7rem;
      color: #ccc;
    }
    .open_chat_body_sent-message {
      position: relative; /* necessário para o posicionamento absoluto interno */
      display: flex;
      flex-direction: column;
      /*padding: 10px 20px 10px 10px;*/
      justify-self: flex-end;
      margin: 5px 5px 5px 5px;
      width: fit-content;
      min-height: 35px;
      min-width: 60px;
      max-width: 60%;
      background-color: rgba(13, 74, 99, 0.808);
      border-radius: 8px 0px 8px 8px;
      border: solid 1px #0000003f;
      height: fit-content;
      color: #f0f0f0;
      padding-right: 0.5rem;
    }

    .open_chat_body_sent-message-text {
      width: 100%;
      margin: 10px 5px 5px 10px;
      overflow-wrap: break-word;
      white-space: pre-wrap;
    }
    .open_chat_body_sent-message-time {
      align-self: flex-end;
      font-size: 0.7rem;
      color: #ccc;
    }
  }
}
.open_chat_body_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
  width: 100%;
  height: 3.5rem;
  background-color: rgba(0, 0, 0, 0.349);
  .open_chat_body_footer-input {
    width: 80%;
    height: 30%;
    padding: 1rem;
    margin: 0px 5px 5px 5px;
    background-color: #f0f0f0bb;
    border-radius: 8px;
    border: solid 1px #0000003f;
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
  }
  .open_chat_body_footer-input:focus {
    background-color: #ffffffd5;
    outline: none;
  }
  .open_chat_body_footer-send {
    font-size: 1.5rem;
    color: #f0f0f0;
  }
}
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 25rem;
  width: 25rem;
  background-color: #00356ede;
  border-radius: 1rem;
  padding: 0px;
}
.login-inputs-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    &:focus {
      outline: none;
      border-color: #007bff;
    }
  }
}
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #232323;
}

/* Card do formulário */
.login-container {
  background: #003366;
  padding: 2.5rem 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 430px;
}

/* Título */
.login-title {
  text-align: center;
  color: #fff;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.1;
}

/* Formulário */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Inputs */
.login-inputs-row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.side-bar-menu {
  border-right: solid 2px #ffffff26;
  background-color: rgba(0, 0, 0, 0.349);
  display: flex;
  height: 100%;
  width: 4rem;
  padding-top: 1rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .side-bar-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    padding: 0.6rem;
    color: #f0f0f0;
    font-size: 1.3rem;
    margin: 0.5rem 0.2rem 0.2rem 0.2rem;
  }
  .side-bar-menu-item:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.contacts-menu-container {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
}
.contacts-menu {
  background-color: #003366;
  border-radius: 1rem;
  width: 50%;
  height: 90%;
}
.contacts-list {
  height: 90%;
  overflow-y: scroll;
  scrollbar-color: rgba(0, 0, 0, 0.507) rgba(255, 255, 255, 0);
}
.contact-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 5rem;
  padding: 0.5rem;
}
.contact-list-item-icons {
  color: #f0f0f0;
  font-size: 1.5rem;
  padding: 0.5rem;
}
.contact-list-item-icons:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.contact-editor-container {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
}
.contact-editor {
  padding: 0.6rem;
  padding-top: 0;
  background-color: #004891;
  border-radius: 1rem;
  width: 50%;
  height: 80%;
  visibility: inherit;
  label {
    color: #ffffff;
    font-size: 1rem;
  }
  .contact-editor-fields {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .contact-editor-fields-groups {
      display: flex;
      width: 70%;
      flex-direction: column;
    }
  }
}
.hide {
  visibility: hidden;
}
